# Environment Variables
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000/api

# Email Configuration (opcional para FormSubmission)
# SMTP_HOST=your-smtp-host
# SMTP_PORT=587
# SMTP_USER=your-email
# SMTP_PASSWORD=your-password
